.Rproj.user
.Rhistory
.RData
.Ruserdata
Colias-field-data-summer22.csv
IBD.csv
all_samples.csv
colias-full-down3.0x.cov
colias-full-down4.0x.cov
colias-full-down3.5x.cov
colias-full-down3.0x-bam-list.txt
colias-full-down3.5x-bam-list.txt
colias-full-down4.0x-bam-list.txt
covSummary.bedtools.txt
downsampling_array_full.txt
colias-full-down4.0x-bam-list.ind
readme.txt
sites-all.csv
sites-all1.csv
sites.csv
waypoints-all.csv
.DS_Store
firstattempt_bioinfo.R
CDT.csv
